/* blues.css */

:root {
  --primary-color: #3bb9ff;
  --secondary-color: #3097d1;
  --background-color: #ebf5ff;
  --text-color: #333;
}

.tab-control .tab {
  background-color: transparent;
  color: var(--text-color);
}

.tab-control .tab[aria-selected="true"] {
  background-color: var(--secondary-color);
}

.tab-content {
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
}
